article {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

}

.listing-photo {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
}

.listing-heading {
  font-size: 40pt;
  font-weight: bold;
  margin: 20px 0 0 0;
}

.listing-location {
  font-size: 18pt;
  color: darkolivegreen;
  margin-bottom: 30px;
}


.listing-features ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.listing-features li {
  background: #f8f9fa;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: 500;
}


.weather-info {
  background: lightcyan;
  padding: 20px;
  border-radius: 15px;
  margin: 30px 0;
}



#map {
  border: 4px solid white;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  margin-bottom: 40px;
}



.listing-apply {
  background: lightblue;
  padding: 30px;
  border-radius: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: bold;
  color: black;
  margin-bottom: -10px;
}

input {
  padding: 12px;
  border: 2px solid cadetblue;
  border-radius: 10px;
  font-size: 11pt;
}

.error-text {
  color: red;
  font-size: 9pt;
  margin-top: -10px;
}

button.primary {
  background-color: lightblue;
  color: white;
  padding: 15px;
  border-radius: 10px;
  font-size: 12pt;
  font-weight: bold;
}

button.primary:disabled {
  background-color: cadetblue;
  cursor: not-allowed;
}
